

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
   background-color: aqua;
   background-attachment: fixed;
   background-position: 5%;
   height: max-content;
   user-select: none; 
}















